{% extends "base.html" %}



{% block content %}
<div class='container'>
{% if validlink %}

<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>
<fieldset>
<form method="post">{% csrf_token %}
    <input type='hidden' class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class='row'>
        <div class="col-md-2col-sm-12">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Новый пароль:</label>
        </div><!--col-->
        <div class="col-md-2 col-sm-12">{{ form.new_password1 }}</div><!--col-->
    </div><!--row-->
    <div class="row">
<div class="col-md-2col-sm-12">
    {{ form.new_password2.errors }}
    <label for="id_new_password2">Повторите пароль:</label>
</div><!--col-->
<div class="col-md-2col-sm-12">
    {{ form.new_password2 }}
</div><!--col-->
    </div><!--row-->
    <div class="row">
        <div class="col-md-2col-sm-12">
            <label>
            <input type='checkbox' id="show_pass"> <label for="show_pass">Показать пароль</label>
            </label>
        </div><!--col-->
    </div><!--row-->
    <div class="row">
        <div class="col-md-2col-sm-12">
            <input type="submit" class="btn btn-success my-2" value="Изменить пароль">
        </div><!--col-->
    </div><!--row-->
</form>
</fieldset>
{% else %}

<p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>

{% endif %}
<div>
{% endblock %}
