{% extends "base.html" %}

{% block content %}
<div class='container'>
<div class'row'>
    <div class='col'>
        <h3>Восстановление пароля</h3>
        <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкции по настройке нового адреса».</p>
        <form method="post">{% csrf_token %}
<div class='row'>
    <div class='col'>
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">Email адрес:</label>
            {{ form.email }}
            <input type="submit" class='btn btn-dark' value="Сброс пароля">
        </div>
        
    </div>
</div>
        </form>
    </div><!--col-->
</div><!--row-->
</div><!--container-->

{% endblock %}
