<!--МОДАЛЬНЫЕ ОКНА-->

<!-- usernameModal -->
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="phoneModalLabel">Peдактирование имени</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">

                    <span style="color: gray;">Имя пользователя</span>
                </div><!--col-->
            </div><!--row-->
            <div class="row">
                <div class="col">
                    {% comment %} {% url "users:username_change" %} {% endcomment %}
                    <form method="post" action="{% url "users:edit_user_ajax" %}" id="form_username_edit">
                        {% csrf_token %}
                       <input type="hidden"  name="step" value="username">
                       <div class="alert alert-danger d-none error_username text-center" role="alert"></div>
                       <div class="alert alert-success d-none response text-center" role="alert"></div>
                       {{form_user.username}}
                       {% comment %} <input type="text" class="form-control form-value"> {% endcomment %}
                </div><!--col-->
            </div><!--row-->
            <div class="row">
                <div class="col">
                    <b>Введите имя</b>
                </div><!--col-->
            </div><!--row-->
        </div><!--modal-body-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-dark">Сохранить</button>
           </form>
        </div>
    </div>
</div>
</div>
<!-- usernameModal END-->
             
<!-- phoneModal -->
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="phoneModalLabel">Peдактирование телефона</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal"
                             aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                         <div class="row">
                             <div class="row">
                                 <span style="color: gray;">Мобильный телефон*</span>
                             </div>
                         </div>
                         <div class="row">
                             <div class="row">
                                <form method="post" action="{% url 'users:edit_phone_ajax' %}" id="form_phone_edit">
                                    {% csrf_token %}
                                    <input type="hidden"  name="step" value="phone">
                                    <div class="alert alert-danger d-none error_phone text-center" role="alert"></div>
                                    <div class="alert alert-success d-none response text-center" role="alert"></div>
                                     {{form_phone.phone}}
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <b>Введите номер телефона</b>
                             </div>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                         <button type="submit" class="btn btn-dark">Сохранить</button>
                        </form>
                     </div>
                 </div>
             </div>
         </div>
<!-- phoneModal END-->

<!-- passwordModal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="passwordModalLabel">Изменение пароля</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal"
                             aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        
                <form method="post" action="{% url "users:password_change_ajax" %}" id="form_change_password">
                            {% csrf_token %}
                            <input type="hidden"  name="step" value="password">
                         
                         <div class="row">
                             <div class="col">
                                 <div class="alert alert-success d-none response text-center" role="alert"></div>
                                 <span style="color: gray;">Придумайте длинный пароль из букв и цифр, который вам
                                     будет легко запомнить, а другим — сложно угадать</span>
                             </div>
                         </div>
                         <div class="row mt-2">
                             <div class="col">
                                 <span style="color: gray;"><small>Текущий пароль*</small></span>
                             </div>
                         </div>
                         <div class="row ">
                             <div class="col">
                                 <div class="password">
                                    <div class="alert alert-danger d-none error_old text-center" role="alert"></div>
                                    {{form_password.old_password}}
                                     {% comment %} <input type="password" id="edit_password" name="password"
                                         class="form-control form-value" required> {% endcomment %}
                                     {% comment %} <a href="#" class="password-control"></a> {% endcomment %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <span style="color: gray;"><small>Придумайте пароль*</small></span>
                             </div>
                         </div>
                         <div class="row ">
                             <div class="col">
                                 <div class="password">
                                    <div class="alert alert-danger d-none error_password2 text-center" role="alert"></div>
                                    {{form_password.new_password1}}
                                     {% comment %} <input type="password" id="password_new" name="password_new"
                                         class="form-control form-value" required> {% endcomment %}
                                     {% comment %} <a href="#" class="password-control_new"></a> {% endcomment %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <span style="color: gray;"><small>Повтор нового пароля*</small></span>
                             </div>
                         </div>
                         <div class="row ">
                             <div class="col">
                                 <div class="password">
                                    {{ form_password.new_password2.errors }}
                                    {{form_password.new_password2}}
                                     {% comment %} <input type="password" id="password_re" name="password_re"
                                         class="form-control form-value" required> {% endcomment %}
                                     {% comment %} <a href="#" class="password-control_re"></a> {% endcomment %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                            <div class="col"><label>
                                <input type='checkbox' id="show_pass_change"> <label for="show_pass">Показать пароль</label>
                            </lable>
                            </div>
                         </div>
                     

                     </div><!--modal body-->
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                         <button type="submit" class="btn btn-dark">Сохранить</button>
                     </form>
                     </div>
                 </div>
             </div>
         </div>
<!-- passwordModal END-->
<!--МОДАЛЬНЫЕ ОКНА END-->