 <!-- ==================================== -->
 <div class="offcanvas offcanvas-end menu_title" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{user.email}}</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <hr>
          {% if request.user.is_superuser %}
          <li class="nav-item">
         <a class="nav-link" aria-current="page" href="{%url 'admin:index' %}"><i class="bi bi-person-square"></i> Админ</a>
        </li>
          {% endif %}
        <li class="nav-item">
         <a class="nav-link" aria-current="page" href="{%url 'users:profile' %}"><i class="bi bi-person"></i> Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calendar' %}"><i class="bi bi-calendar-week"></i> Мои записи</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <i class='bi bi-box-arrow-left'></i> <input type="submit"  value="Выход" />
          </form>
          </li>
      </ul>
    
    </div><!--body-->
  </div>
</div>
<!--========================-->