{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="content-one">
                    <h3><span style="color:#f5bf23;">Ваш Шиномонтаж</span></h3>
                    <p style="text-align: left;"><span style ="font-size: 12pt;">Саратовская обл, Энгельсский р-н, п.Анисовка, ул. Веселая 120</span></p>
                    <p style="text-align: left;">
                        Режим работы: <br>Ежедневно :8:00 - 19:00
                    </p>
                    <p style="text-align: left;">Телефон: +79271234567</p>
                    <p style="text-align: left;">E-mail: sar-bc@mail.ru</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="content-two">
                    <h3>Обратная связь</h3>
                    <form action="{% url 'contact' %}" class="form-box"  method="post">
                        {% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        <div class="row">
                            <div class="col-md-4">
                            {{ form.name }}
                        </div>
                            <div class="col-md-4">
                            {{ form.email }}   
                            </div>
                            <div class="col-md-4">
                            {{form.phone}}
                        </div>
                        </div>
                        {{form.message}}
                        {{form.captcha}}
                    <button type="submit" class="btn btn-sm btn-dark">Отправить сообщение</button>                  
                    </form>
                        
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9849de5eae2f8a8fbe51bffc0966a32ae9ecd24b01c67c96e524c99e5a30c85d&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

</div>
{% endblock %}